* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background-color: white;
  overflow-x: hidden;
}

.hero-section {
  display: flex;
  flex-direction: column;
  padding: 0px 42px;
  gap: 5px;
  width: 100%;
  background-color: white;
}

.navigation-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  width: 100%;
  height: 4em;
  flex: none;
  top: 0;
  padding: 0px 42px;
  background-color: white;
  transition: transform 0.3s ease-in-out;
}

@keyframes fadeInSticky {
  0% {
    opacity: 0;
    transform: translateY(-30px);
    box-shadow: none;
  }
  50% {
    opacity: 0.5;
    transform: translateY(10px);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 8px 15px;
  }
}

.navigation-bar.sticky {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 100;
  animation-duration: 0.7s;
  animation-name: fadeInSticky;
  animation-timing-function: ease-out;
}

.logo {
  width: 24px;
  height: 24px;
}

.logo-link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  gap: 15px;
}

.brand-name-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 32px;
}

.brand-name {
  font-weight: 500;
  font-size: 12px;
  text-align: center;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #1d1d1d;
}

.navigation-links {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 42px;
  margin: 0 auto;
  height: 22px;
  list-style: none;
}

.nav-link {
  font-weight: 500;
  font-size: 12px;
  text-align: center;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #1d1d1d;
  text-decoration: none;
  position: relative;
}

.nav-link::after,
.nav-link.active::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0%;
  height: 1px;
  background-color: #1d1d1d;
  transition: opacity 0.3s ease-in-out;
  width: 100%;
}

.nav-link::after {
  opacity: 0;
}

.nav-link.active::after,
.nav-link:hover::after {
  opacity: 1;
}

.user-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
  text-decoration: none;
}

.user-icon {
  width: 25px;
}

.user-role {
  font-weight: 500;
  font-size: 12px;
  text-align: center;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #1d1d1d;
}

.hero-image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}

.hero-logo {
  width: 45%;
  height: 80%;
}

.hero-image {
  width: 100%;
  height: 550px;
  border-radius: 8px;
  object-fit: cover;
}

.featured-products {
  padding: 20px 42px;
  background-color: white;
}

.featured-products-title {
  text-transform: uppercase;
  font-weight: 500;
}

.swiper-container {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.swiper-scrollbar {
  bottom: 10px;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.product {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 6px;
  background-color: #eaeae8;
  position: relative;
}

.product-list {
  cursor: pointer;
  width: 441px;
  height: 441px;
  flex-grow: 1;
}

.product-featured {
  width: 380px;
  height: 380px;
}

.product-bestseller,
.product-limitedEdition {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 500;
  position: absolute;
  left: 5px;
  top: 3px;
  letter-spacing: -0.01em;
  padding: 8px;
  border-radius: 15px;
}

.product-bestseller {
  background: #d9d6b0;
}

.product-limitedEdition {
  background: #d4b0d9;
}

.product-heart {
  position: absolute;
  right: 10px;
}

.product-image {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.product-title {
  font-size: 1.1rem;
  font-weight: bold;
}

.product-controls {
  margin: 2rem;
}

.product-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 10px;
  padding-bottom: 20px;
  gap: 5px;
}

.product-title {
  margin-top: 10px;
  font-size: 13px;
  font-weight: 800;
}

.product-price {
  font-size: 12px;
  font-weight: 500;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  display: none !important;
}

.custom-swiper-btn {
  width: 60px !important;
  height: 58px !important;
  background-color: white;
  color: black;
  border-radius: 50%;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  user-select: none;
  z-index: 10;
  margin-top: -30px;
}

.custom-swiper-btn svg {
  width: 22px !important;
  height: 22px !important;
}

.custom-swiper-btn:hover {
  background-color: #f0f0f0;
}

.product-controls-count {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.product-count-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.product-count-span {
  font-style: normal;
  font-weight: 500;
  text-align: center;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #1d1d1d;
}

.custom-select {
  position: relative;
  width: 65px;
  font-family: sans-serif;
  font-size: 15px;
  user-select: none;
  font-weight: 700;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #1d1d1d;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border: 1px solid white;
  transition: border 0.3s ease;
}

.selected-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  margin: 0 10px;
  border-bottom: 1px solid white;
  transition: border-bottom 0.3s ease;
}

.selected-container:hover {
  cursor: pointer;
}

.selected {
  padding: 8px 0px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.custom-select.active {
  border: 1px solid #eaeae8;
}

.custom-select.active .selected-container {
  border-bottom: 1px solid #1d1d1d;
}

.arrow {
  margin-left: 8px;
  font-size: 10px;
}

.options {
  position: absolute;
  top: 100%;
  left: -1px;
  width: 65.5px;
  right: 0;
  background: white;
  margin: 0;
  padding: 4px 0;
  z-index: 5;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  border-bottom: 1px solid #eaeae8;
  border-left: 1px solid #eaeae8;
  border-right: 1px solid #eaeae8;
  transition: opacity 0.3s ease;
  pointer-events: none;
  opacity: 0;
}

.custom-select.active .options {
  opacity: 1;
  pointer-events: auto;
  display: block;
}

.option {
  padding: 6px 0px;
  text-align: center;
  cursor: pointer;
  transition: background 0.2s ease;
  list-style: none;
  margin: 0 10px;
}

.option:not(:last-child) {
  border-bottom: 1px solid #eaeae8;
}

.option:hover {
  background-color: #f0f0f0;
}

.product img {
  max-width: 100%;
  height: auto;
  display: block;
}

.product-listing-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.product-listing {
  display: grid;
  grid-template-rows: repeat(2, 441px);
  grid-template-columns: repeat(auto-fit, 441px);
  gap: 10px;
  place-items: center;
  justify-content: center;
  align-items: center;
}

.product-id {
  position: absolute;
  left: 23px;
  top: 23px;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: -0.01em;
}

.product-popUp {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
}

.product-popUp.active {
  opacity: 1;
  pointer-events: auto;
  display: block;
}

.popUp-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.7s ease-out, visibility 0.7s ease-out;
  border-radius: 6px;
  background-color: #eaeae8;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 840px;
  max-height: 620px;
}

.product-popUp.active .popUp-container {
  opacity: 1;
  visibility: visible;
}

#popUpProductId {
  position: absolute;
  top: 20px;
  left: 30px;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: -0.01em;
  font-weight: 500;
}

.button-close {
  position: absolute;
  top: 20px;
  right: 30px;
  text-transform: uppercase;
  display: flex;
  gap: 5px;
  font-size: 13px;
  background: transparent;
  border: 0px;
  outline: none;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  letter-spacing: -0.01em;
  cursor: pointer;
}

.popUp-content {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  max-height: 100%;
}

#popUpProductImage {
  max-width: 70%;
  max-height: 70%;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.advertisement {
  position: relative;
  grid-column: span 2;
  grid-row: 2;
  width: 100%;
  height: 100%;
  border-radius: 6px;
}

.advertisement-title {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: -0.01em;
  z-index: 5;
}

.advertisement-text {
  position: absolute;
  text-align: center;
  max-width: 714px;
  width: 90%;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  font-weight: 700;
  font-size: 42px;
  letter-spacing: -0.02em;
  color: #1d1d1d;
  z-index: 5;
}

.advertisement-image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 6px;
}

.advertisement-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 262px;
  height: 48px;
  border-radius: 6px;
  text-transform: uppercase;
  background-color: white;
  z-index: 1;
  border: 0px;
  outline: 0px;
  cursor: pointer;
}

.hamburger-menu {
  display: none;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: transparent;
  border: none;
  cursor: pointer;
  gap: 5px;
  padding: 0;
  z-index: 1000;
}

.hamburger-menu-span {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 17px;
  height: 11.27px;
}

.hamburger-menu span {
  width: 100%;
  height: 2px;
  background-color: #1d1d1d;
}

.hamburger-menu-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #1d1d1d;
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
  transition: opacity 0.7s ease-in-out, visibility 0.7s ease-in-out;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.mobile-menu.active {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu-content {
  position: fixed;
  top: 0;
  right: 0;
  width: 80%;
  max-width: 400px;
  height: 100%;
  background-color: white;
  padding: 30px 25px;
  transform: translateX(100%);
  transition: transform 0.7s ease-in-out, visibility 0.7s ease-in-out;
  z-index: 1000;
  visibility: hidden;
  pointer-events: none;
}

.mobile-menu.active + .mobile-menu-content {
  transform: translateX(0);
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.mobile-menu-logo {
  width: 24px;
  height: 24px;
}

.close-menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.close-menu-text {
  font-weight: 500;
  font-size: 13px;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #1d1d1d;
}

.mobile-navigation-links {
  list-style: none;
  padding: 0;
  margin: 0 0 30px 0;
}

.mobile-nav-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;
  padding: 15px 0;
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
  color: #1d1d1d;
  text-decoration: none;
}

.mobile-user-info {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  padding: 15px 0;
}

@media (max-width: 1000px) {
  .brand-name-mobile {
    display: none;
  }
  .navigation-links {
    position: relative;
    gap: 10px;
  }
}

@media (max-width: 882px) {
  .product-listing {
    display: grid;
    grid-template-rows: repeat(8, 158px);
    grid-template-columns: repeat(4, 158px);
    gap: 10px;
  }

  .advertisement {
    grid-row: 2 / span 3;
    grid-column: 2 / 4;
  }

  .product-list {
    width: 158px;
    height: 158px;
  }

  .product-id {
    left: 13px;
    top: 13px;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: -0.01em;
  }

  .advertisement-text {
    font-size: 32px;
  }
}

@media (max-width: 768px) {
  .hero-section {
    padding: 0px 15px;
  }

  .navigation-bar {
    padding: 0px 15px;
  }

  .featured-products {
    padding: 20px 15px;
  }

  .hamburger-menu {
    display: flex;
  }

  .navigation-links,
  .user-info,
  .brand-name {
    display: none;
  }

  .mobile-menu {
    display: block;
  }
}

@media (max-width: 660px) {
  .hero-logo {
    width: 328px;
    height: 49.31px;
    margin-bottom: 20px;
  }
  .advertisement {
    grid-row: 3 / span 2;
  }

  .product-listing {
    display: grid;
    grid-template-columns: repeat(2, 158px);
  }

  .product-count-container {
    flex-direction: column;
  }

  .product-featured {
    width: 300px;
    height: 300px;
  }

  .popUp-container,
  .popUp-content {
    width: 280px;
    height: 388px;
  }
  #popUpProductImage {
    max-width: 280px;
    max-height: 388px;
  }
}
